html {
    background-color: #a56363;
}

.bodyCadastro {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.botaoCadastro {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.botaoCadastro:hover {
    background-color: #333;
}

.bodyCadastro p {
    font-size: 29px;
    color: #000000;
}

.bodyCadastro input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}